.privacy-summary {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  .privacy-meta {
    flex: 1;
    h2 {
      margin: 0;
      font-size: 22px;
      font-weight: normal;
    }
    p {
      color: $black;
      text-transform: uppercase;
      margin: 0;
      font-size: 12px;
      font-weight: 500;
    }
  }
  .privacy-content {
    margin-top: 20px;
    flex: 1 0 100%;
    text-align: justify;
  }
}

.privacy-summary-large {
  background-color: $white-offset;
  padding: 30px;
  border-radius: 3px;
}